[Desktop Entry]
Name=Johny
Comment=Johny pult
Exec=sudo /home/pult/GitHub/Johny/./pult.sh
Terminal=false
Type=Application
Icon=/home/pult/GitHub/Johny/icon.png
Path=
Categories=
NoDisplay=false

